<!DOCTYPE html>
<html>
  <head>
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="webkit" name="renderer">

    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/easyui.css' />
    <link rel='stylesheet' href='/css/icon.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script type='text/javascript' src="/js/jquery.min.js"></script>
    <script type='text/javascript' src="/js/jquery.easyui.min.js"></script>
    <script type='text/javascript' src="/js/validator.js"></script>
    <script type='text/javascript' src="/js/utils.js"></script>
  </head>
  <body>
    {{{body}}}


    

  </body>
</html>
